1)Write a code to reverse a string

In [ ]:
string ="hello world"
string

'hello world'

In [ ]:
string[::-1]

'dlrow olleh'

2)Write a code to count the number of vowels in a string

3)Write a code to check if a given string is a palindrome or not.

In [3]:
a = "madam"
if a == a[::-1]:
    print("palindrome")
else:
    print("not palindrome")

palindrome

 4)Write a code to check if two given strings are anagrams of each other

In [2]:
a = "hello"
b = "olleh"
if a == b[::-1]:
    print("anagram")
else:
    print("not anagram")

anagram

5)Write a code to find all occurrences of a given substring within another string

In [1]:
a ="sunshine"
a.count("s")

2

 6)Write a code to perform basic string compression using the counts of repeated characters

In [24]:
a = "hello world"
a.count("l")

3

7)Write a code to determine if a string has all unique characters

In [ ]:
h = "hello"
if h in string:
    print("not unique")
else:
    print("unique")

not unique

8)Write a code to convert a given string to uppercase or lowercase

In [ ]:
text = "Hello World"
text.upper()

'HELLO WORLD'

In [ ]:
text = "Hello World"
text.lower()

'hello world'

 9)Write a code to count the number of words in a string

In [ ]:
a = "Pwskills"
len(a)

8

 10)Write a code to concatenate two strings without using the + operator

In [ ]:
str1 = "Hello"
str2 = "World"
str1+str2

'HelloWorld'

11)Write a code to remove all occurrences of a specific element from a list

In [ ]:
a = [1,2,3,4,5]
a.remove(1)
a

[2, 3, 4, 5]

 12)Implement a code to find the second largest number in a given list of integers

In [ ]:
a = [20,10,30,50,40,60]
a.sort()
a[-2]

50

 13)Create a code to count the occurrences of each element in a list and return a dictionary with elements as
keys and their counts as values

In [23]:
a = [10,20,30,40,10,20,30,40,50]
dict(zip(a,a))

{10: 10, 20: 20, 30: 30, 40: 40, 50: 50}

 14)Write a code to reverse a list in-place without using any built-in reverse functions

In [ ]:
a = [10,20,30,40]
a[::-1]

[40, 30, 20, 10]

 15)Implement a code to find and remove duplicates from a list while preserving the original order of
elements

In [11]:
a =[10,20,30,40,10,20,30,40,50]
set(a)

{10, 20, 30, 40, 50}


 16)Create a code to check if a given list is sorted (either in ascending or descending order or not

In [1]:
a = [1,3,4,5,6]
if a == sorted(a):
    print("sorted")
else:
    print("not sorted")

sorted

 17)Write a code to merge two sorted lists into a single sorted list

In [ ]:
list1 = [1,2,3,4]
list2 = [5,6,7,8]
list1+list2

[1, 2, 3, 4, 5, 6, 7, 8]

 18)Implement a code to find the intersection of two given lists

In [ ]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}
s1.intersection(s2)

{3, 4}

19)Create a code to find the union of two lists without duplicates

In [2]:
lis =[1,2,3,4,5]
lis2 = [3,4,5,6,7]
set(lis+lis2)

{1, 2, 3, 4, 5, 6, 7}

 20)Write a code to shuffle a given list randomly without using any built-in shuffle functions

In [3]:
test = [6,5,6,1,2,3]
import random
random.shuffle(test)
test

[3, 6, 5, 1, 6, 2]

21)Write a code that takes two tuples as input and returns a new tuple containing elements that are
common to both input tuples

In [4]:
tuple1= (1,2,3,4)
tuple2= (3,4,5,6)
set(tuple1).intersection(set(tuple2))

{3, 4}

22) Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the
intersection of these two sets

In [6]:
a = [1,2,7,8]
b = [3,4,5,8]
set(a).intersection(set(b))

{8}

23)Write a code to concatenate two tuples. The function should take two tuples as input and return a new
tuple containing elements from both input tuples.

In [ ]:
tuple1 =(1,2,3)
tuple2 = (4,5,6)
tuple1+tuple2

(1, 2, 3, 4, 5, 6)

24)Develop a code that prompts the user to input two sets of strings. Then, print the elements that are
present in the first set but not in the second set

In [7]:
a = [10,20,30,40]
b = [30,40,50,60]
set(a).difference(set(b))

{10, 20}

25)Create a code that takes a tuple and two integers as input. The function should return a new tuple
containing elements from the original tuple within the specified range of indices

In [9]:
a ="10,20,30,40"
a = tuple(int(x) for x in a.split(","))
a

(10, 20, 30, 40)

26)Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets

In [12]:
string1 ="hello world"
string2 ="hello python"
set(string1).union(set(string2))

{' ', 'd', 'e', 'h', 'l', 'n', 'o', 'p', 'r', 't', 'w', 'y'}

27)Develop a code that takes a tuple of integers as input. The function should return the maximum and
minimum values from the tuple using tuple unpacking

In [13]:
a = [15,12,12,10]
print(max(a))
print(min(a))

15
10

28)Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these
two sets

In [14]:
a = [10,20]
b = [20,30]
print(set(a).union(set(b)))
print(set(a).intersection(set(b)))
print(set(a).difference(set(b)))

{10, 20, 30}
{20}
{10}

29)Write a code that takes a tuple and an element as input. The function should return the count of
occurrences of the given element in the tuple

In [15]:
a = [10,20,30,40,50]
a.count(10)

1

30)Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of
these two sets

In [16]:
a = [10,20,30,40]
b = [30,40,50,60]
set(a).symmetric_difference(set(b))

{10, 20, 50, 60}

 31)Write a code that takes a list of words as input and returns a dictionary where the keys are unique words
and the values are the frequencies of those words in the input lis

In [17]:
a = [10,20,30]
b = [30,40,50]
dict(zip(a,b))

{10: 30, 20: 40, 30: 50}

32)Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are
common keys, the values should be added together

In [19]:
a = {"a":10,"b":20}
b = {"c":30,"d":40}
a.update(b)
a

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

33)Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of
keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the
function should return None

In [20]:
a = {"a":10,"b":20}
b = {"c":30,"d":40}
dict(zip(a,b))

{'a': 'c', 'b': 'd'}

34)Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You
can choose whether to sort in ascending or descending order

In [21]:
a = {"a":10,"b":20}
sorted(a.values())

[10, 20]

 35)Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary
correctly handles cases where multiple keys have the same value by storing the keys as a list in the
inverted dictionary.

In [22]:
a = {"a":10,"b":20}
b = {"c":30,"d":40}
dict(zip(a,b))

{'a': 'c', 'b': 'd'}